@{
    ViewBag.Title = "Dështimi i Porosisë";
}

<h2>Dështimi i Porosisë</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div style="color: red; font-weight: bold;">
        @ViewBag.ErrorMessage
    </div>
}
<p>Ju lutemi, provoni përsëri ose kontaktoni mbështetjen teknike.</p>
